
html {
  background-color: #FFFFFF;
}
header, p, div, body, img {
  margin: 0;
  padding: 0;
}

body {
   background-image: url("../images/yoinkdots.png");
   z-index: -4;

}
a {
  color: inherit;
}


#wrapper {
}
.wave-sep{
  background: url("../images/wave-border.png") repeat-x bottom;
  height: 15px;
}
/*---------------------------------------------------------------------- NAV */

#nav, #nav-aside {
  display: flex;

  background-color: white;
  align-items: center;
  -moz-box-shadow:    0 1px 3px 1px #ccc;
  -webkit-box-shadow: 0 1px 3px 1px #ccc;
  box-shadow:         0 1px 3px 1px #ccc;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 60px;

  /*transition: all 0.3s ease-in-out;*/

}
#nav p , #nav-aside p{
  padding: 10px;
  font-size: 0.8em;
  font-family: "lato";
  color: rgba(247, 177, 203);
}

#nav > p:nth-child(1), #nav-aside > p:nth-child(1) {
  color: #79B7C4;
}

#nav a, #nav-aside a {
  display: flex; 
  align-items: center;
  justify-content: center;
}
.facebooklogo {
  margin-left: auto;
}

.logo32 {
  width: 25px;
  padding: 3px;
  margin: auto;
}

#nav-hamburger {
  display: none;
  background-image: url("../images/hamburger-icon.png");
  background-size: 30px;
  background-position: center; 
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  margin-left: auto;
  cursor: pointer;
}
#nav-hamburger:hover {
  opacity: 0.7;
}

#nav-aside {
  visibility: hidden;
  height: 0;
  flex-direction: column;
  padding-bottom: 5px;
  margin-top: 36px;
  transition: all 0.3s ease-in-out;
}
#nav-aside p  {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
/*---------------------------------------------------------------------- LOGOBOX */
#logobox {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEF2F7;
  height: 150px;
}

#logobox div {
  flex-basis: 1px;
  background-color: red;
}

#logobox img {
  width: 350px;
}

.wave-sep-bot {
  background: url("../images/wave-border-bot.png") repeat-x bottom;
  height: 20px;
}
/*---------------------------------------------------------------------- FOOTER */
#foot {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 40px 60px;
  justify-content: space-between;
  background-color: #F7B1CB;

  font-family: "lato";
  color: white;
}

#logofoot { 
  display: flex;
  flex-direction: column;
  }
#logofoot p:nth-child(1) {
  font-size: 3em;
  font-family: 'Emilys Candy', cursive;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.socialmedia {
  display: flex;
}

/*---------------------------------------------------------------------- SHOWCASE*/

#showcase {
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.showitems{
  padding: 10px 35px;
  width: 250px;
}

.showitemsinfo {
  text-align: center;
  margin-bottom: 20px;
  font-family: "lato";
  font-weight: bold;
  font-size: 1.3em;
  color: #333333;
}

/*---------------------------------------------------------------------- OTHER, midsection */
.midsection2 {
  padding: 10px 70px;
  color: #333333;
}
.midsection2 p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  font-family: 'lato', sans-serif;
  /*font-family: 'Emilys Candy', cursive;*/
  color: #333333;

}
/*.linebreak2 {

width: 50%;  
  color:  #F7B1CB;

}
*/

/*---------------------------------------------------------------------- MOREbutton */
.morebutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Bahnschrift";
  background-color: #F7B1CB;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 1.5em;
  margin: 20px auto;
  border-radius: 5px;
}

/*---------------------------------------------------------------------- Navbar links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


/*---------------------------------------------------------------------- Aboutus stuff */
#aboutus {
  padding: 0 70px;
  margin-bottom: 20px;
  color: #333333;
  font-family: "lato";
}
.jacknsyl{
  width: 250px;
  float: right;
  margin: 20px;
  border: 5px white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
}

/*---------------------------------------------------------------------- Form styles */
#form {
  font-family: "lato";
  color: #333333;
  font-size: 1.1em;
}
.contactform > div{
  padding: 0 70px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.contactform > div > label {
  width: 150px;
  margin-right: 5px;
}
.smallin {
  border-radius: 5px;
  flex-shrink: : 1;
  flex-basis: 300px;
}
.bigin {
  height: 100px;
  border-radius: 5px;
  flex-shrink: 1;
  flex-basis: 300px;
  height: 130px;
}

.innerbig {
  height: 100px;
  border-radius: 5px;
  height: 130px;
}
#button-textarea {
  display: flex;
  flex-direction: column;
  flex-basis: 306px;
}
#formbutton {
  border-radius: 5px;
  font-size: 0.9em;
  font-family: "Bahnschrift";
  color: white;
  background-color: #F7B1CB;
  border: none;
  width: 100px;
  height: 30px;
  margin: auto;

}

#formcentered{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------------------------------------------------------------  MENU*/
.backbar {
  display: flex;
  align-items: center;
}
.backbar a {
  height: 30px;
}
.backbar img{
  width: 30px;
}

.backbar img:hover{

}
.backbar p {
  margin-left: 10px;
}

.menulist {
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "LATO";
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}
.menulist > a {
  height: 344px;
  width: 258px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #333333;
  cursor: pointer;
}



.infobar {
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}


/*---------------------------------------------------------------------- ITEM INFO*/
.iteminfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  color: #333333;
  font-family: "lato";
  margin-bottom: 20px;
}

.iteminfo div p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.iteminfo > div > img{
  width: 350px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 20px;
}
.iteminfo div {
    margin: 20px 0;
}
.iteminfo > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}






/*------------------------------------------------------------------ BACKGROUND IMAGES*/
#alfajores {
     background-image: url("../instagram-photos/origalfa.jpg");
}

#originalalfajores {
  background-image: url("../instagram-photos/origalfa.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s ease;
}

#chocolatealfajores{
  background-image: url("../instagram-photos/chocoalfa.jpg");
  background-size: cover;
  background-position: center;
}

#whitealfajores{
  background-image: url("../instagram-photos/whitealfa.jpg");
  background-size: cover;
  background-position: center;
}

#cocoalfajores{
  background-image: url("../instagram-photos/cocoalfajores.jpg");
  background-size: cover;
  background-position: center;
}
#alfajores {
  background-image: url("../instagram-photos/alfajores.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s ease;
}
 
#churros {
  background-image: url("../instagram-photos/churros.jpg");
  background-size: cover;
  background-position: center;
}

#cakes {
  background-image: url("../instagram-photos/cakestrawberry.jpg");
  background-size: cover;
  background-position: center;
}









/*-------------------------------------------------------------------------------*/
@media (max-width: 400px){
  #logobox img {
    width: 250px;
  } 
  #showcase {
    padding-top: 10px;
  }
  .showitems{
    width: 190px;
  }
}
@media (max-width: 475px){
  #nav p{
    display: none;
  }
  #nav {
    height: 36px;
    padding: 0  20px;
  }
  .facebooklogo {
    margin-left: 0;
  }

  #nav-hamburger {
    display: block;
  }
}

@media (max-width: 570px){
  #foot {
    flex-direction: column;
  }
  #logofoot {
    text-align: center;
  }
  .contactinfo {
    text-align: center;
  }
  #foot p{
    margin-top: 10px;
  }
  .socialmedia {
    margin-top: 10px;
  }

  #aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .jacknsyl {
    margin: auto;
    margin-bottom: 20px;
    float: none;
    width: 220px;
  }
  .iteminfo > div > img{
    width: 270px;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 20px;
  }

  .iteminfo {
    padding: 20px 30px;
  }
  .menulist {
    justify-content: center;
  }
  .midsection p{
    text-align: center;
  }
  .midsection2 p{
    text-align: center;
  }
}

@media (max-width: 400px){
  .jacknsyl {
    margin: 0;
    margin-bottom: 20px;
    width: 190px;
  }
}
@media (max-width: 1180px){
  .menulist > a {
    width: 198px;
    height: 264px;
  }
  .menulistalfa > a{
    width: 198px;
    height: 264px;
  }
  .menulistchurros > a{
    width: 198px;
    height: 264px;
  }
}

@media (max-width: 450px){
  #form {
    margin: auto;

  }
  .contactform > div {
    flex-direction: column;
    padding: 0 10px;
  }
  .bigin {
    flex: 1;
  }
  .smallin {
    flex: 1;
  }
  .innerbig {
    flex:1;
  }
}















